In [1]:
import pandas as pd

In [24]:
data = pd.read_csv('Original/Badges.csv')

In [25]:
data.head(5)

   _Id  _UserId           _Name                    _Date  _Class _TagBased
0    1        1  Autobiographer  2012-02-08T19:49:42.747       3     False
1    3        4  Autobiographer  2012-02-08T19:49:42.747       3     False
2    4        5  Autobiographer  2012-02-08T19:49:42.747       3     False
3    5        6  Autobiographer  2012-02-08T19:59:41.533       3     False
4    6        9  Autobiographer  2012-02-08T20:04:41.713       3     False

In [14]:
data.isnull().sum()

_Id               0
_TagName          0
_Count            0
_ExcerptPostId    5
_WikiPostId       5
dtype: int64

In [16]:
data[data._TagName == 'baseball']

   _Id  _TagName  _Count  _ExcerptPostId  _WikiPostId
0    1  baseball     243             459          458

In [17]:
data

     _Id              _TagName  _Count  _ExcerptPostId  _WikiPostId
0      1              baseball     243             459          458
1      2            statistics     131             934          933
2      3          sabermetrics       8            1114         1113
3      5               running      70              52           51
4     11                 rules     694             240          239
5     12              marathon      16             644          643
6     13              football     438             108          107
7     19             triathlon      11            1015         1014
8     21               records      59             725          724
9     23           road-racing       4            1634         1633
10    24     american-football     235             127          126
11    25            basketball     139             224          223
12    27            ice-hockey      77             648          647
13    31          snowboarding      26            1017         1016
14    33               skating      16            1171         1170
15    38               sailing       4             635          634
16    41              strategy      72             936          935
17    42              coaching      22            1642         1641
18    43              swimming      50              54           53
19    46                tennis     179             432          431
20    48             equipment     210             242          241
21    50            collegiate      54             258          257
22    55          table-tennis      55             438          437
23    57            volleyball      45             436          435
24    60             disc-golf       5            1638         1637
25    62                skiing      26             650          649
26    65               tactics      18            1162         1161
27    70                 rugby      16            1013         1012
28    71              training      79            1081         1080
29    75               defense      12            1092         1091
..   ...                   ...     ...             ...          ...
163  426                  ittf       5            7004         7003
164  427                   cfl       1            7014         7013
165  430            suspension       9            7038         7037
166  439      champions-league      11            7297         7296
167  440                 serve      23            7302         7301
168  441             paintball       1            7325         7324
169  442       labor-relations       3            7343         7342
170  443  match-identification       1            8504         8503
171  447                   mls       1            8564         8563
172  448            super-bowl       3            8702         8701
173  450     italian-longsword       1            8629         8628
174  453                   cba       2            8826         8825
175  454             quidditch       4           12176        12175
176  455           rugby-union      20            8969         8968
177  456              schedule       8           12219        12218
178  457               amateur       2            9209         9208
179  460                gender       4           10517        10516
180  468                  milb       5           10793        10792
181  472            open-water       1           11859        11858
182  473               kabaddi       1           11882        11881
183  474            eurobasket       1             NaN          NaN
184  476              untagged       1           12262        12261
185  481          rugby-league       2           12246        12245
186  482      beach-volleyball       2           12268        12267
187  485         paddle-tennis       1             NaN          NaN
188  486              dressage       1           12630        12629
189  487                titles       1             NaN          NaN
190  488          road-running       1           13025        13024
191  489           touch-rugby       1           13063        13062
192  490        sumo-wrestling       1           13171        13170

[193 rows x 5 columns]